/* Advanced Table */
.userDatatable {
  @include e(title) {
    font-size: 14px;
    font-weight: 500;
    line-height: lh(14px, 21px);
    color: var(--color-gray);
    text-transform: capitalize;
  }

  @include e(img) {
    img {
      width: 30px;
      height: 30px;
    }
  }

  @include e(inline-title) {
    margin-left: 20px;

    a {
      font-size: 14px;
      font-weight: 500;
      line-height: lh(14px, 21px);
      color: var(--color-dark);

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  @include e(content-status) {
    border-radius: 4px;
    padding: 5px 8px;
    height: 23px;
    @extend .content-center;
    @include ofs(12px, lh(12px, 15px), 500);
    text-transform: capitalize;
  }

  @include e(actions) {
    gap: 20px;
    display: flex;
    align-items: center;

    svg {
      width: 16px;
      color: var(--color-lighten);
    }

    a{
      font-size: 18px;
      color: var(--color-lighten);
      &:hover{
        color: var(--color-primary);
      }
      i{
        color: currentColor;
      }
    }
    
  }

  table {
    border-bottom: transparent;
    border-collapse: separate;
    border-spacing: 0;
    tr{
      &:not(:last-child){
        border-bottom: 1px solid var(--border-normal);
      }
    }
    td {
      border-top: 0;
      padding: 10px 20px;
      vertical-align: middle;
      white-space: nowrap;
    }

    thead tr {
      border-radius: 10px;

      th {
        color: var(--color-gray);
        background: var(--bg-normal);
        border: none !important;
        white-space: nowrap;
        padding: 15px 20px;

        &:not(:first-child) {
          width: 22%;
        }

        &:first-child {
          border-left: 1px solid var(--border-normal);
          border-radius: 10px 0 0 10px;
        }

        &:last-child {
          border-right: 1px solid var(--border-normal);
          border-radius: 0 10px 10px 0 !important;
        }
      }
    }

    tbody tr {
      &:first-child {
        td {
          padding-top: 11px;
        }
      }

      &:last-child {
        td {
          padding-bottom: 11px;
        }
      }

      td {
        font-size: 14px;
        font-weight: 500;
        line-height: lh(14px, 21px);
        color: var(--color-dark);
      }
    }
  }
}